html,
body {
  margin: 0;

  font-family: sans-serif;
}

input:focus {
  outline: none;
}

.container {
  display: flex;
  flex-direction: row;
}

/* Search */
.search-box {
  padding: 0 10px;

  background-color: #bdc8cb;
}

#search {
  width: 95%;
  margin: 5px;
  padding: 5px;

  transition: box-shadow 0.3s, border 0.3s;

  border: solid 1px #dcdcdc;
  border-radius: 50px;
}

/* Subscribers List */
#subscribers {
  overflow: auto;
  flex: 1;
  flex-direction: column;

  height: 530px;
}

/* Subscriber */
.subscriber {
  flex-direction: column;

  padding: 8px 20px 2px;

  border-bottom: 1px solid #888;
}

.active {
  color: #fff;
  background-color: #0060dc;
}

.subscriber:hover {
  cursor: pointer;

  background-color: #007aff;
}

.subscriber:hover * {
  color: #fff;
}

.title {
  display: flex;
  flex-direction: row;

  padding-bottom: 5px;
}

.number {
  font-weight: bold;
}

.date {
  margin-left: auto;

  color: #007aff;

  font-size: small;
}

.lastSms {
  color: #858489;

  font-size: 14px;
}

/* Messages List */
#messages {
  overflow: auto;
  flex: 2;
  flex-direction: column;

  height: 530px;

  background-color: #dbe1ed;
}

.message {
  position: relative;

  display: inline-block;
  clear: both;

  max-width: 50%;
  margin: 8px;
  padding: 13px 14px;

  vertical-align: top;

  border-radius: 5px;

  font-size: 16px;
}

.is-from-me {
  font-weight: bold;
}

.date {
  margin-bottom: 4px;
  margin-left: auto;

  color: #007aff;

  font-size: small;
}

.received {
  float: left;
  align-self: flex-start;

  background-color: #d3d3d3;
}

.sent {
  float: right;
  align-self: flex-end;

  background-color: #93d841;
}
