html, body {
  font-family: sans-serif;
  margin: 0;
}

input:focus {
  outline: none;
}

.container {
  display: flex;
  flex-direction: row;
}

/* Search */
.search-box {
  background-color: #BDC8CB;
  padding: 0 10px;
}

#search {
  border-radius: 50px;
  margin: 5px;
  padding: 0 5px;
  width: 95%;
}

/* Subscribers List */
#subscribers {
  flex: 1;
  flex-direction: column;
}

/* Subscriber */
.subscriber {
  border-bottom: 1px solid #888888;
  flex-direction: column;
  padding: 5px 20px;
}

.subscriber:hover {
  background-color: #007AFF;
  cursor: pointer;
}

.subscriber:hover * {
  color: #ffffff;
}

.title {
  display: flex;
  flex-direction: row;
  padding-bottom: 5px;
}

.number {
  font-weight: bold;
}

.date {
  color: #007AFF;
  font-size: small;
  margin-left: auto;
}

.lastSms {
  color: #858489;
  font-size: 14px;
}

/* Messages List */
#messages {
  background-color: #DBE1ED;
  flex: 2;
  flex-direction: column;
}

.is-from-me {
  font-weight: bold;
}

.date {
  color: #007AFF;
  font-size: small;
  margin-left: auto;
}

.text {
  border: 1px solid black;
  border-radius: 10px;
  font-size: 14px;
  margin-bottom: 10px;
  padding: 10px;
}

.received {
  text-align: left;
  width: 50%;
}

.received .text {
  background-color: #D3D3D3;
}

.sent {
  padding-left: 50%;
  text-align: right;
}

.sent .text {
  background-color: #93D841;
}
