html, body {
  font-family: sans-serif;
  margin: 0;
}

input:focus {
  outline: none;
}

.container {
  display: flex;
  flex-direction: row;
}

/* Search */
.search-box {
  background-color: #BDC8CB;
  padding: 0 10px;
}

#search {
  border-radius: 50px;
  border: solid 1px #dcdcdc;
  margin: 5px;
  padding: 5px;
  transition: box-shadow 0.3s, border 0.3s;
  width: 95%;
}

/* Subscribers List */
#subscribers {
  flex-direction: column;
  flex: 1;
  height: 530px;
  overflow: auto;
}

/* Subscriber */
.subscriber {
  border-bottom: 1px solid #888888;
  flex-direction: column;
  padding: 8px 20px 2px 20px;
}

.active {
  background-color: #0060dc;
  color: #ffffff;
}

.subscriber:hover {
  background-color: #007AFF;
  cursor: pointer;
}

.subscriber:hover * {
  color: #ffffff;
}

.title {
  display: flex;
  flex-direction: row;
  padding-bottom: 5px;
}

.number {
  font-weight: bold;
}

.date {
  color: #007AFF;
  font-size: small;
  margin-left: auto;
}

.lastSms {
  color: #858489;
  font-size: 14px;
}

/* Messages List */
#messages {
  background-color: #DBE1ED;
  flex-direction: column;
  flex: 2;
  height: 530px;
  overflow: auto;
}

.message {
  border-radius: 5px;
  clear: both;
  display: inline-block;
  font-size: 16px;
  margin: 8px;
  max-width: 50%;
  padding: 13px 14px;
  position: relative;
  vertical-align: top;
}

.is-from-me {
  font-weight: bold;
}

.date {
  color: #007AFF;
  font-size: small;
  margin-bottom: 4px;
  margin-left: auto;
}

.received {
  align-self: flex-start;
  background-color: #D3D3D3;
  float: left;
}

.sent {
  align-self: flex-end;
  background-color: #93D841;
  float: right;
}
